<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PaF___PvP_Installer.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <userSettings>
        <PaF___PvP_Installer.Properties.Settings>
            <setting name="AttackAnimation" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="PauseBaseGame" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="UsePokemonGifs" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowAttackTypes" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ShowAttacks" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="LowSpecMode" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowLegendarys" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="ChampShuffle" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="DoSwitch" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="SwitchName" serializeAs="String">
                <value>PaF - PvP Scene</value>
            </setting>
            <setting name="PokemonSizeModifier" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="LimitPvPScenes" serializeAs="String">
                <value>1</value>
            </setting>
            <setting name="AllowedScenes" serializeAs="String">
                <value>PaF - PvP Scene</value>
            </setting>
            <setting name="FixedCoordinates" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AttackpowerMin" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="AttackpowerMax" serializeAs="String">
                <value>100</value>
            </setting>
            <setting name="AttackIncrease" serializeAs="String">
                <value>2</value>
            </setting>
            <setting name="CritChance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="DodgeChance" serializeAs="String">
                <value>10</value>
            </setting>
            <setting name="SturdyChance" serializeAs="String">
                <value>15</value>
            </setting>
            <setting name="ChallengeTimer" serializeAs="String">
                <value>90</value>
            </setting>
            <setting name="CooldownTimer" serializeAs="String">
                <value>300</value>
            </setting>
            <setting name="Champ" serializeAs="String">
                <value>PvP - Challenge the Champ</value>
            </setting>
            <setting name="PriceChamp" serializeAs="String">
                <value>5000</value>
            </setting>
            <setting name="UseChamp" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Normal3v3" serializeAs="String">
                <value>PvP - Normal 3vs3</value>
            </setting>
            <setting name="PriceNormal3v3" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UseNormal3v3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Normal6v6" serializeAs="String">
                <value>PvP - Normal 6vs6</value>
            </setting>
            <setting name="PriceNormal6v6" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseNormal6v6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Random3v3" serializeAs="String">
                <value>PvP - Random 3vs3</value>
            </setting>
            <setting name="PriceRandom3v3" serializeAs="String">
                <value>500</value>
            </setting>
            <setting name="UseRandom3v3" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="Random6v6" serializeAs="String">
                <value>PvP - Random 6vs6</value>
            </setting>
            <setting name="PriceRandom6v6" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseRandom6v6" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="SAMMILocation" serializeAs="String">
                <value/>
            </setting>
            <setting name="Region" serializeAs="String">
                <value>PvP - Challenge a region</value>
            </setting>
            <setting name="PriceRegion" serializeAs="String">
                <value>1000</value>
            </setting>
            <setting name="UseRegion" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="BonusChamp" serializeAs="String">
                <value>5</value>
            </setting>
            <setting name="AbsoluteSpeed" serializeAs="String">
                <value>1</value>
            </setting>
        </PaF___PvP_Installer.Properties.Settings>
    </userSettings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/></startup></configuration>
